<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>Главная</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <link rel="stylesheet" th:href="@{/vendor/bootstrap/css/bootstrap.css}">
</head>
<body>
  <div th:replace="/include/header :: header"></div>
  <div class="container">
      <div class="error404-msg">
          <span>С</span>траницы не существует<span>!</span>
      </div>
  </div>
</body>
</html>
