@font-face {
    font-family: 'lucida_console';
    src: url('../fonts/lucida_console/lucida_console.eot');
    src: url('../fonts/lucida_console/lucida_console.eot?#iefix') format('embedded-opentype'),
         url('../fonts/lucida_console/lucida_console.woff2') format('woff2'),
         url('../fonts/lucida_console/lucida_console.woff') format('woff'),
         url('../fonts/lucida_console/lucida_console.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

a {
  color:#ddd !important;
  transition:color .2s ease;
  text-decoration:underline !important;
}
a:hover {
  color:white !important;
}
button {
  transition:color .2s ease;
  cursor:pointer;
}
body {
  background:black !important;
}
.container {
  font-family:lucida_console;
  font-size:14.5px;
  color:#ddd;
  text-align:center;
}
.topbar {
  height:40px;
  display:block;
  padding:10px 0 30px 0;
}
.topbar-msg {
  font-size:14px;
  margin:0 5px;
}
.topbar-elem {
  display:inline-block;
  float:right;
}
.topbar-elem-left {
  float:left;
}
.topbar-link {
  display:inline-block;
  margin-left:15px;
  font-size:14px;
}
.topbar-link-left {
  float:left;
}
.topbar-login {
  margin-right:10px;
  font-size:12px;
  color:white;
  background-color:#060;
  border-radius:5px;
  padding:5px;
}
.login-form {
  overflow:hidden;
  width:400px;
  margin-left:calc(50% - 200px);
  margin-top:20px;
  text-align:center;
}
.login-form-content {
  position:relative;
  padding-top:10px;
}
.login-form p {
  padding:0;
  margin:0;
}
.login-form-content:before {
  background-image: url('../img/vertical-slash.png');
  background-size: 11px;
  background-repeat:repeat-y;
  width:11px;
  height:100%;
  position:absolute;
  left:0;
  top:0;
  content:"";
}
.login-form-content:after{
  background-image: url('../img/vertical-slash.png');
  background-size: 11px;
  width:11px;
  background-repeat:repeat-y;
  height:100%;
  position:absolute;
  right:0;
  top:0;
  content:"";
}
.login-form__console-styled-border {
  overflow:hidden;
  display:block;
  height:20px;
  font-size:13px;
  color:#ddd;
  background:black;
}
.login-form-title {
  font-size:14px;
  color:white;
  padding-bottom:10px;
}
.login-form-input {
  color:#ddd;
  background:black;
  border:none;
  border-bottom:1px solid #666;
  width:300px;
  font-size:14px;
  padding:10px;
}
.login-form-submit {
  transition:color .2s ease;
  cursor:pointer;
  color:white;
  padding:10px 0;
  border-radius:30px;
  font-size:15px;
  color:#ddd;
  background:black;
  border:none;
  font-size:13px;
  margin-bottom:8px;
}
.login-form-submit:hover {
  color:white;
}
.main__msg {
  margin:20px 0;
}
.error-msg {
  color:white;
  background:#d00;
  border-radius:10px;
  padding:2px;
}

.error404-msg {
  margin-top:20px;
  text-align:center;
  width:100%;
}
.error404-msg span {
  color:red;
}

.help-block.with-errors {
  margin-top:40px;
  background:#d00;
  border-radius:5px;
  color:white;
  font-size:13px;
}

.messenger {
  padding:5px 0;
}
.messages-container {
  display:none;
  font-size:12px;
  position: relative;
  overflow: auto;
  height:calc(100vh - 200px);
  border:1px solid #444;
  padding:10px 0px;
}
.messages-container .content {
  position:relative;
  padding-right:5px;
}
.messages-container .message-wrapper {
  position:relative;
  /* background:#151515; */
  text-align:left;
  padding:5px 10px 5px 0px;
  margin-bottom:5px;
}
.messages-container .message-wrapper-right {
  text-align:right;
}
.messages-container .message-wrapper-left {
  text-align:left;
}
.messages-container .message {
  background:#00b;
  color:#ddd;
  max-width:calc(100% - 50px);
  margin:10px 25px;
  display:inline-block;
  padding:0px 15px;
  font-size:12px;
  line-height:27px;
  border-radius:10px;
  position:relative;
}
.messages-container .message.modified {
  max-width:calc(100% - 65px);
  margin-right:10px;
}
.messages-container .message-modified-icon {
  font-size:12px;
  position:relative;
  width:10px;
  margin:0;
  padding:0;
}
.messages-container .message:before {
  content:"";
  position:absolute;
  left:-7px;
  top:0px;
  width: 0px;
  height: 0;
  border-bottom: 12px solid transparent;
  border-left: 5px solid transparent;
  border-top: 12px solid #00b; /* #00b */
  border-right: 5px solid #00b;
}
.messages-container .message:after{
  content:"";
  position:absolute;
  left:-7px;
  top:0px;
  width: 0px;
  height: 0;
  border-bottom: 2px solid transparent;
  border-left: 5px solid transparent;
  border-top: 2px solid black; /* #00b */
  border-right: 5px solid black;
}
.messages-container .message-deleted {
  color:#eee;
  font-size:11px;
  background:transparent;
  padding-left:0;
}
.messages-container .message-deleted:before{
  display:none;
  padding:0;
}
.messages-container .message-deleted:after {
  display:none;
}
.messages-container .message-to-reply-wrapper {
  padding:10px 5px 5px 15px;
}
.messages-container .message-to-reply {
  max-width:calc(100% - 20px);
  position:relative;
  display:inline-block;
  padding:3px 10px 3px 25px;
  width:auto;
  border-radius:5px;
  background:#000095;
}
.messages-container .message-to-reply-wrapper .icon {
  position:absolute;
  top:8px;
  left:8px;
  fnot-size:12px;
  color:#ccc;
}
.messages-container .message-to-reply .name {
  color:white;
  margin:3px 0;
}
.messages-container .message-to-reply .datetime {
  color:#ccc;
  margin:3px 3px 6px 0;
}
.messages-container .message-to-reply .text {
  margin-top:5px;
  line-height:23px;
}
.messages-container .message-to-reply .text.message-deleted {
  color:#999;
}
.messages-container .username {
  border-radius:4px;
  color:white;
  padding:1px 0;
  margin:0px 0px 0px 16px;
}
.messages-container .message-wrapper-me .username {
  background-color:#060;
  padding-left:8px;
  padding-right:8px;
}
.messages-container .datetime {
  color:#ddd;
  font-size:11px;
  margin-left:4px;
}
.messages-container .reply-btn {
  color:#ddd;
  background:transparent;
  border:none;
  cursor:pointer;
  margin-left:5px;
}
.messages-container .reply-btn:hover {
  color:white;
}
.messages-container .msg-menu-btn {
  color:#ddd;
  background:transparent;
  border:none;
  cursor:pointer;
  border:1px solid #888;
  margin-left:5px;
  border-radius:3px;
  padding:1px 7px;
  line-height:0;
}
.messages-container .msg-menu-btn:hover {
  color:white;
}
.message-textarea-wrapper {
  text-align:left;
  position:relative;
}
.message-textarea {
  display:none;
  overflow: auto;
  height:80px;
  resize:none;
  background:black;
  border:1px solid #666;
  width:100%;
  font-size:14px;
  line-height:20px;
  color:#ddd;
  padding:10px 20px;
}
.message-textarea.shifted {
  padding-top:40px;
}
.message-textarea-replying {
  padding-top:50px;
}
.message-textarea-wrapper .messages-to-reply {
  width:100%;
  height:50px;
  position:absolute;
  top:0;
  left:0;
}
.message-textarea-wrapper .messages-to-reply.hidden {
  display:none;
}
.message-textarea-wrapper .message-to-reply {
  display:inline-block;
  padding:5px 5px 5px 10px;
  margin:5px;
  border:1px solid #555;
  position:relative;
}
.message-textarea-wrapper .message-to-reply .close {
  position:absolute;
  left:5px;
  top:5px;
  color:#fff;
  font-size:12px;
  float:left;
  height:12px;
}
.message-textarea-wrapper .message-to-reply .text {
  overflow:hidden;
  text-overflow:ellipsis;
  white-space:nowrap;
  max-width:120px;
  float:left;
  color:#aaa;
  margin-left:10px;
  font-size:12px;
  line-height:14px;
}
.send-message-btn {
  margin:0;
  padding:0;
  margin-top:15px;
  font-size:14px;
  transition:color .2s ease;
  background:black;
  color:#ddd;
  border:none;
  cursor:pointer;
}
.send-message-btn:hover {
  color:white;
}
.load-previous-messages-btn {
  cursor:pointer;
  color:#ddd;
  background:transparent;
  border:none;
  padding:10px 0;
}
.load-previous-messages-btn.hidden {
  display:none;
}
.load-previous-messages-btn:hover {
  color:white;
}
.no-more-messages-label {
  padding:15px 0;
  color:#777;
}
.no-more-messages-label.hidden {
  display:none;
}

.message-menu-msg-text {
  text-align:center;
  color:#aaa;
  padding:5px 15px;
  height:30px;
  text-overflow:ellipsis;
  overflow:hidden;
  white-space:nowrap;
  font-size:12px;
  border:1px solid #555;
  border-radius:5px;
}
.message-menu-btn {
  width:100%;
  background:transparent;
  color:#ddd;
  border:none;
  font-size:13px;
  margin-top:12px;
  display:block;
}
.message-menu-btn:active,
.message-menu-btn:focus {
  outline:none;
}
.message-menu-btn:hover {
  color:white;
}

.modal-dialog {
  width:400px !important;
}
.modal-content {
  border:1px solid #555 !important;
    width:200px;
}
.modal-header {
  background:black;
  border:none !important;
}
.modal-body {
  background:black;
  border:none !important;
}

#message-menu-modal .modal-dialog {
    -webkit-transform: translate(0,-50%);
    -o-transform: translate(0,-50%);
    transform: translate(0,-50%);
    top: 50%;
    margin: 0 auto;
}
#info-modal .modal-dialog {
    -webkit-transform: translate(0,-50%);
    -o-transform: translate(0,-50%);
    transform: translate(0,-50%);
    top: 50%;
    margin: 0 auto;
}
#modify-modal .modal-dialog {
    -webkit-transform: translate(0,-50%);
    -o-transform: translate(0,-50%);
    transform: translate(0,-50%);
    top: 50%;
    margin: 0 auto;
}

#info-modal {
  text-align:center;
}
#info-modal-message {
  color:#ddd;
  font-size:12px;
  margin-bottom:20px;
  padding:0 10px;
}

@media (max-width:539px) {
  .modal-dialog {
    max-width:90%;
  }
  .login-form {
    width:90%;
    margin-left:5%;
  }
  .login-form-input {
    width:80%;
  }
  .login-form-title {
    font-size:12.5px;
  }
}
@media (max-width:450px) {
  .messages-container .username {
    display:inline-block;
    overflow:hidden;
    text-overflow:ellipsis;
    white-space:nowrap;
    max-width:85px;
    margin-bottom:-6px;
  }
  .topbar-login {
    display:inline-block;
    overflow:hidden;
    text-overflow:ellipsis;
    white-space:nowrap;
    max-width:90px;
    margin-bottom:-12px;
  }
}

.modify-message-textarea {
  resize:none;
  background:black;
  border:1px solid #666;
  width:90%;
  margin-left:5%;
  color:white;
  padding:10px 20px;;
  font-size:12px;
  line-height:20px;
}
.modify-message-textarea::-webkit-scrollbar { width: 0 !important }
.modify-message-textarea { overflow: -moz-scrollbars-none; }
.modify-message-textarea { -ms-overflow-style: none; }


