<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Главная</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <link rel="stylesheet" th:href="@{/vendor/bootstrap/css/bootstrap.css}">
    <link rel="stylesheet" th:href="@{/vendor/perfect-scrollbar/css/perfect-scrollbar.css}">
    <link rel="stylesheet" th:href="@{/vendor/fontawesome-free-5.9.0-web/css/all.css}">
    <script th:src="@{/vendor/jquery/js/jquery.min.js}"></script>
    <script th:src="@{/vendor/bootstrap/js/bootstrap.js}"></script>
    <script th:src="@{/vendor/perfect-scrollbar/js/perfect-scrollbar.min.js}"></script>
    <script th:src="@{/js/loadPreviousMessages.js}"></script>
    <script th:src="@{/js/longpolling.js}"></script>
    <script th:src="@{/js/sendMessage.js}"></script>
    <script th:src="@{/js/deleteMessage.js}"></script>
    <script th:src="@{/js/sendModifiedMessage.js}"></script>
    <script th:src="@{/js/index.js}"></script>
    <script th:src="@{/js/initCustomScrollbar.js}"></script>

    <script th:inline="javascript">
      /*<![CDATA[*/
        var current_username_ = /*[[${session.username}]]*/ null;
        var lastDeletedMessageId = /*[[${lastDeletedMessageId}]]*/ null;
        var lastModifiedMessageDatetime = /*[[${lastModifiedMessageDatetime}]]*/ null;
      /*]]>*/
    </script>
</head>
<body>
  </div>
  <div th:replace="/include/header :: header"></div>
    <div class="container">
      <div class="messenger">
        <div class = "messages-container" id="messages-container">
          <div  class="content" id="messages-container-content">
            <button th:classappend="${#arrays.length(messages)} == 0 ? hidden : visible"
                    class="load-previous-messages-btn" id="load-previous-messages-btn">загрузить еще</button>
            <div th:classappend="${#arrays.length(messages)} != 0 ? hidden : visible"
                 class="no-more-messages-label" id="no-messages-yet">сообщений пока нет</div>
            <div th:each="message: ${messages}" th:attr="data-message-modified = ${message.modified}, data-message-id = ${message.id}" class="message-wrapper message-wrapper-left"
                 th:classappend="${message.username} != ${session.username} ? message-wrapper-notme : message-wrapper-me">
                <div class="message-bar">
                    <span th:text="${message.username}" class="username"></span>
                    <span th:text="${message.datetime}" class="datetime"></span>
                    <button th:if="(${session.username} == ${message.username}) and (${message.deleted} == null)" class="msg-menu-btn"><i class="fas fa-ellipsis-h"></i></button>
                    <button th:if="(${session.username} != ${message.username}) and (${message.deleted} == null)" class="reply-btn" title="ответить"><i class="fas fa-level-up-alt"></i></button>
                </div>
                <div th:each="messageToReply: ${message.messagesToReply}" class="message-to-reply-wrapper">
                    <div class="message-to-reply">
                        <div class="icon"><i class="fas fa-level-down-alt"></i></div>
                        <div class="name">
                            <span th:text="${messageToReply.username}"></span>
                        </div>
                        <div class="datetime">
                            <span th:text="${messageToReply.datetime}"></span>
                        </div>
                        <span th:if="${messageToReply.deleted} == null" th:text=="${messageToReply.text}" class="text"></span>
                        <span th:if="${messageToReply.deleted} != null" class="text message-deleted">сообщение удалено</span>
                    </div>
                </div>
                <span th:if="${message.deleted} == null" th:text=="${message.text}" class="message" th:classappend="${message.modified} == null ? not-modified : modified"></span>
                <span th:if="${message.deleted} != null" class="message message-deleted">сообщение удалено</span>
                <i th:if="${message.modified} != null" class="message-modified-icon fas fa-pencil-alt"></i>
            </div>
          </div>
        </div>
      <div class = "message-textarea-wrapper">
        <div class="messages-to-reply hidden" id="messages-to-reply">
        </div>
        <div class="content">
          <textarea class = "message-textarea" id="message-textarea"></textarea>
          <button class="send-message-btn" id="send-message-btn">[О]тправить</button>
        </div>
      </div>
    </div>
  </div>

  <div class="modal" id="message-menu-modal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
              <div id="message-menu-content">
                <div class="message-menu-msg-text"></div>
                <button class="message-menu-btn message-menu-reply-btn">[О]тветить</button>
                <button class="message-menu-btn message-menu-delete-btn">[У]далить</button>
                <button class="message-menu-btn message-menu-modify-btn">[И]зменить</button>
                <button class="message-menu-btn" data-dismiss="modal">[З]акрыть</button>
              </div>
            </div>
        </div>
    </div>
  </div>

  <div class="modal" id="info-modal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <div class="info-message" id="info-modal-message"></div>
                <button class="message-menu-btn" data-dismiss="modal">[З]акрыть</button>
            </div>
        </div>
    </div>
  </div>

  <div class="modal" id="modify-modal">
      <div class="modal-dialog">
          <div class="modal-content">
              <div class="modal-body">
                  <div class = "modify-message-textarea-wrapper">
                     <div class="content" id="modify-modal-content">
                       <textarea class = "modify-message-textarea" id="modify-message-textarea"></textarea>
                     </div>
                  </div>
                  <button class="message-menu-btn" id="modify-message-send-btn" data-dismiss="modal">[О]править</button>
                  <button class="message-menu-btn" data-dismiss="modal">[З]акрыть</button>
              </div>
          </div>
      </div>
  </div>

</body>
</html>
