<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>Вход</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <link rel="stylesheet" th:href="@{/vendor/bootstrap/css/bootstrap.css}">
</head>
<body>
  <div th:replace="/include/header :: header"></div>
  <div class ="container">
      <div class="login-form">
          <form action="#" th:action="@{/login}" th:object="${user}" method="post">
              <div class="login-form-title">Пожалуйста, авторизуйтесь</div>
              <p><input th:field="*{login}" class="login-form-input" id="login-form-name" required placeholder="Логин или Email" name="login"></p>
              <p><input th:field="*{password}" class="login-form-input" id="login-form-password" type="password" required placeholder="Пароль" name="passwd"></p>
              <p> <input type="submit" class="login-form-submit" value="Вход"> </p>
          </form>
      </div>

  </div>
</body>
</html>
